/* body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at bottom, rgba(0, 0, 0, 0.5), transparent 60%),#02151e;
  color: #d1e8ff;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #041c29;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 50px rgba(0,255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

form-group label {
  display: block;
  /* font-size: 20px; */
    /* margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  margin-top: 10px;
  background: #073C54;
  color: #d1e8ff;
}

button { */
  /* background-color: #0ea5e9;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color:#0284c7;
}

.ticket {
  background-color: #054569;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  font-weight: bold;
  color: #d1e8ff;
  text-align: center;
  width: 350px;

}

.ticket:hover {
  transform: scale(1.05);
  transition: transform 0.3s; */
/* }

.ticket h2 {
  color:#d1e8ff;
  font-size: 22px;
}

.ticket img {
  width: 100px; */
  /* height: 100px;
  /* margin-top: 10px; */
  /* border-radius: 10px;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.barcode {
  width: 90%; */
  /* height: 40px;
  margin: 15px  auto 0;
  background: repeating-linear-gradient(90deg, black 0, black 2px, white 2px, white 4px); */
/* } */

/* .ticket-selection {
  padding: 40px;
  border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.event-details {
  border: 1px solid #073C54;
  text-align: center;
}
.event-details h2{
  color: #fafafa;
  font-size:  48px; */
  /* font-family: "Road Rage", serif;
}


p {
  font-size: 14px;
} */

/* .ticket-type {
  display: flex;
  margin: 15px  auto 0;
  background: repeating-linear-gradient(90deg, black 0, black 2px, white 2px, white 4px); */
/* }

.ticket-selection { */ 
  /* padding: 40px;
  border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
} */

/* .event-details {
  border: 1px solid #073C54;
  text-align: center;
}
.event-details h2{
  color: #fafafa;
  font-size:  48px;
  font-family: "Road Rage", serif;
}


p {
  font-size: 14px;
} */

/* .ticket-type {
  display: flex; */
  /* flex-direction: row;
  border: 1px solid #073C54;
  border-radius: 8px;
  padding: 10px;
  gap: 16px;
  margin: bottom 24px;
  align-items: center;
}

.ticket-type-option {
  border: 1px solid #073C54;
  padding: 10px; */
  /* border-radius: 8px;
}
.ticket-type-option:hover {
  background-color: #073C54;
} */

/* .actions { */
  /* display: flex;
  justify-content: space-between;
}

.cancel-btn, .next-btn {
  padding: 12px 24px; */
  /* border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease; */
/* } */

/* .ticket-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: left; */
  /* font-size: 14px;
  margin: 15px 0;
} */ 